@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&display=swap');

:root {
  --text-clr: #ced4da;
  --background-clr: #0d0f10;

  --border-clr: #3c81fb;
  --primary-clr: #15171a;
  --highlight-clr: #25282c;
  --task-checked-clr: #3c81fb;

  --border-radius: 10px;
  --default-gap: .75em;

  --fast-transition-time: 75ms;
  --slow-transition-time: 400ms;
  --normal-transition-time: 200ms;
}

input[type="checkbox"] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: grid;
  place-content: center;
  min-height: 100cqb;

  color: var(--text-clr);
  background-color: var(--background-clr);
}

header {
  text-align: center;
}

.tasks {
  aspect-ratio: 1 / 1;
  width: clamp(200px, 95cqi, 450px);

  padding: 1rem;
  font-weight: 300;
  background-color: var(--primary-clr);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition:
    aspect-ratio .5s ease;
}

.tasks__list {
  display: flex;
  flex-flow: column;
  gap: var(--default-gap);
}

.tasks__item {
  display: flex;
  align-items: center;
  gap: var(--default-gap);

  padding: 0 var(--default-gap);
  border-radius: var(--border-radius);
  transition: background var(--fast-transition-time) ease;
}

.tasks__item:hover {
  background: var(--highlight-clr);
}

.tasks__label {
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--default-gap);
  height: 100%;
}

.tasks__checkbox {
  height: 1rem;
  aspect-ratio: 1 / 1;

  border-radius: 99%;
  border: 1px solid var(--border-clr);
  background: no-repeat top/0% url(icons/check.svg);
  transition:
    background var(--normal-transition-time) ease,
    transform var(--normal-transition-time) ease;
}

.tasks__text {
  flex: 1;
  transition: color var(--normal-transition-time) ease;
  background:
    no-repeat center left/0% 1px linear-gradient(var(--text-clr), var(--text-clr));
  transition:
    background var(--slow-transition-time) ease,
    color var(--slow-transition-time) ease,
    filter var(--slow-transition-time) ease;
}

.tasks__input:checked~.tasks__text {
  filter: brightness(50%);
  background-size: 100% 1px;
  background-image: linear-gradient(var(--text-clr), var(--text-clr));
}


.tasks__input:checked~.tasks__checkbox {
  border: none;
  background: no-repeat center/100% url(icons/check.svg);
  background-color: var(--task-checked-clr);
}

.tasks__label:active .tasks__checkbox {
  transform: scale(95%);
}

.tasks__delete {
  all: unset;
  cursor: pointer;

  opacity: 0;
  height: 2rem;
  border-radius: 99%;
  aspect-ratio: 1 / 1;
  background: no-repeat center/75% url(icons/delete.svg);
}

.tasks__item:hover .tasks__delete {
  opacity: 1;
}

.task-form {
  display: flex;
  max-width: 450px;

  background: var(--primary-clr);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.task-form__input {
  all: unset;
  flex: 1;
  padding: 1rem;
}

.task-form__sumbit {
  all: unset;
  height: 100%;
  aspect-ratio: 1 / 1;

  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  background: no-repeat center/50% url(icons/up.svg);
  transition: var(--normal-transition-time);
}

.task-form__sumbit:hover {
  background-color: var(--highlight-clr);
}

.task-form__sumbit:active {
  filter: brightness(75%);
}

.clear-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--default-gap);
  gap: var(--default-gap);
}

.clear-tasks__button {
  --shadow: 2px;
  all: unset;
  cursor: pointer;
  border-radius: 5px;
  padding: 0 .25rem;
  text-decoration: underline;
  background:
    no-repeat center left/0% 100% linear-gradient(#25282c, #25282c);
  transition:
    background var(--normal-transition-time) ease,
    filter var(--normal-transition-time) ease,
    box-shadow var(--fast-transition-time) ease,
    transform var(--fast-transition-time) ease;
}

.clear-tasks__button:hover {
  background:
    no-repeat center left/100% 100% linear-gradient(#25282c, #25282c);
  box-shadow: 0 var(--shadow) 0 0 var(--primary-clr);
}

.clear-tasks__button:active {
  filter: brightness(75%);
  transform: translateY(var(--shadow));
  box-shadow: 0 0 0 0 var(--primary-clr);
}

.clear-tasks__or {
  margin-inline: -.5rem;
}

@media (max-width: 450px) {
  .tasks {
    aspect-ratio: 1 / 1.66;
  }
}
